html, body {
margin: 0;
padding: 0;
background: #faf8ef;
color: #776e65;
font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
font-size: 18px; }



.grid-container {
  z-index: 1;
backgroud: rgba(238,228,218,0.5); }

.grid-row {
  margin-bottom: 15px; }
  .grid-row:last-child {
    margin-bottom: 0; }
  .grid-row:after {
    content: "";
    display: block;
    clear: both; }

.grid-cell {
  width: 206.25px;
  height: 106.25px;
  margin-right: 15px;
  -webkit-transition: transform 100ms ease-in-out;
  transition: transform 100ms ease-in-out;
  float: left;
  border-radius: 13px;
  background: rgba(238, 228, 218, 0.35); }

.grid-cell:last-child {
    margin-right: 0; }

.tile {
  width: 207px;
  height: 107px;
  -webkit-transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  line-height: 107px;
  background: rgba(238,100,100,0.5);
  text-align: center;
  border-radius: 15px;
  }

.redden{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(238,100,100,0.8);
  }

.unredden{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(238,100,100,0.5);
  }
 
.bluen{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(100,100,238,0.8);
}
.bluen0{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(100,100,238,0.8);
}
.bluen1{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(80,80,243,0.8);
}

.bluen2{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(60,60,248,0.8);
}
.bluen3{
  -webkit-transition: background-color 0.2s ease;
  transition: background-color 0.2s ease;
  background-color: rgba(40,40,253,0.8);
}
.t01{
	transition: transform 0.2s ease;
	-webkit-transform: translate(221px,0px);
	transform: translate(221px,0px);
}
.t02{
	transition: transform 0.2s ease;
	-webkit-transform: translate(442px,0px);
	transform: translate(442px,0px);
}
.t03{
	transition: transform 0.2s ease;
	-webkit-transform: translate(663px,0px);
	transform: translate(663px,0px);
}
.t04{
	transition: transform 0.2s ease;
	-webkit-transform: translate(784px,0px);
	transform: translate(784px,0px);
}
.t10{
	transition: transform 0.2s ease;
	-webkit-transform: translate(0px,121px);
	transform: translate(0px,121px);
}
.t20{
	transition: transform 0.2s ease;
	-webkit-transform: translate(0px,242px);
	transform: translate(0px,242px);
}

.t30{
	transition: transform 0.2s ease;
	-webkit-transform: translate(0px,363px);
	transform: translate(0px,363px);
}

.t40{
	transition: transform 0.2s ease;
	-webkit-transform: translate(0px,484px);
	transform: translate(0px,484px);
}
.t11{
	transition: transform 0.2s ease;
	-webkit-transform: translate(221px,121px);
	transform: translate(221px,121px);
}
.t12{
	transition: transform 0.2s ease;
	-webkit-transform: translate(442px,121px);
	transform: translate(442px,121px);
}
.t13{
	transition: transform 0.2s ease;
	-webkit-transform: translate(663px,121px);
	transform: translate(663px,121px);
}
.t14{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,121px);
	transform: translate(884px,121px);
}
.t21{
	transition: transform 0.2s ease;
	-webkit-transform: translate(221px,242px);
	transform: translate(221px,242px);
}
.t22{
	transition: transform 0.2s ease;
	-webkit-transform: translate(442px,242px);
	transform: translate(442px,242px);
}
.t23{
	transition: transform 0.2s ease;
	-webkit-transform: translate(663px,242px);
	transform: translate(663px,242px);
}
.t24{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,242px);
	transform: translate(884px,242px);
}
.t31{
	transition: transform 0.2s ease;
	-webkit-transform: translate(221px,363px);
	transform: translate(221px,363px);
}
.t32{
	transition: transform 0.2s ease;
	-webkit-transform: translate(442px,363px);
	transform: translate(442px,363px);
}
.t33{
	transition: transform 0.2s ease;
	-webkit-transform: translate(663px,363px);
	transform: translate(663px,363px);
}
.t34{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,363px);
	transform: translate(884px,363px);
}
.t41{
	transition: transform 0.2s ease;
	-webkit-transform: translate(221px,484px);
	transform: translate(221px,484px);
}
.t42{
	transition: transform 0.2s ease;
	-webkit-transform: translate(442px,484px);
	transform: translate(442px,484px);
}
.t43{
	transition: transform 0.2s ease;
	-webkit-transform: translate(663px,484px);
	transform: translate(663px,484px);
}
.t44{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,484px);
	transform: translate(884px,484px);
}
.timer{
	font-size: 36px;
}
.lives{
	font-size: 36px;
}

.ans-cell{
  width: 206.25px;
  height: 77.25px;
  text-decoration: underline;
  text-align: center;
  position: absolute;
}
.ab0{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,15px);
	transform: translate(884px,15px);
}
.ab1{
	transition: transform 0.2s ease;
	-webkit-trasform: translate(884px,136px);
	transform: translate(884px,136px);
}
.ab2{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,257px);
	transform: translate(884px,257px);
}
.ab3{
	transition: transform 0.2s ease;
	-webkit-transform: translate(884px,378px);
	transform: translate(884px,378px);
}
